<% if current_user %>
  <p> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <p> <%= link_to 'Sign In', new_user_session_path %> </p>
  <p> <%= link_to 'Register', new_user_registration_path %> </p>
<% end %>
