<article class="col-xs-12 col-sm-6">

	<h2>New Post</h2>

	<% if defined?(devise_error_messages!.length) %>
		<div class="alert alert-danger" role="alert">
			<%= devise_error_messages! %>
		</div>
	<% end %>
	
	<%= render 'form' %>
	
	<%= button_to('Back', posts_path, :class => 'btn btn-large btn-default')  %>
		
</article>