<article class="col-xs-12 col-sm-6">

	<h2>You Made A Tw!tter Post</h2>

	<% if defined?(notice.length) %>
		<div class="alert alert-info" role="alert">
			<%= notice %>
		</div>
	<% end %>

	<blockquote>
		<%= @post.body %>
	</blockquote>

	<%= button_to('Back', posts_path(@post), :class => 'btn btn-large btn-primary') %>
	<%= button_to('Edit', edit_post_path(@post), :class => 'btn btn-large btn-default') %>

</article>