/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {margin:0px;font-family:"Open Sans", sans-serif;font-size:16px;padding-bottom:50px !important}
header {
  /* fallback */
  background-color: #5DAEE9;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#3FCD94), to(#5DAEE9));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #5DAEE9, #3FCD94);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #5DAEE9, #3FCD94);
  /* IE 10 */
  background: -ms-linear-gradient(left, #5DAEE9, #3FCD94);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #5DAEE9, #3FCD94);
	height:200px;padding-top:0px
}
header #tagline {position:absolute;top:100px;left:0px;width:100%;color:#FFF;font-size:44px;font-weight:300;text-align:center}
section {margin:0px 50px 50px 50px;padding-top:150px !important}
article {}
form {color:#666}
h1 {font-size:36px;font-weight:300;color:#999;margin:30px 0px 30px 0px}
h2 {font-size:32px;font-weight:300;color:#5DAEE9;margin:30px 0px 30px 0px}
p {font-size:inherit;color:inherit;font-family:inherit}
a:hover {background:none;color:steelblue}

.control-label {font-size:18px;font-weight:600;color:inherit}
.devise-links {line-height:24px}
.field_with_errors {background:none;color:red !important;padding:inherit;display:inherit;border-radius:0px !important}
.greyedout {color:#CCC}
.alert {padding-bottom:10px}
.button_to, .button_to div {display:inline}
.jumbotron {background:url(http://i.huffpost.com/gen/1416645/images/o-KANYE-WEST-facebook.jpg) center center;background-size:cover;color:#FFF;padding:50px;margin-top:50px}

#error_explanation {background:none;margin:0px;width:inherit;border:none}
#error_explanation h2 {background:none;color:inherit;padding:0px}


