<article class="col-xs-12 col-sm-6">

	<h2>Username <span class="greyedout"><i class="fa fa-angle-right"></i> Bio</span> <span class="greyedout"><i class="fa fa-angle-right"></i> Pic</span></h2>	

	<%= form_for @user, url: wizard_path do |f| %>
		<div class="field form-group">
			<%= f.label :name, class:'control-label' %><br>
			<%= f.text_area :name, class: 'form-control' %>
		</div>
		<div class="actions">
			<%= f.submit 'Next', class: 'btn btn-primary' %>
		</div>
	<% end %>

</article>