<!DOCTYPE html>
<html>
<head>
  <title>Tw!tter</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

	<header class="col-xs-12" style="margin-top:-50px">
		<div id="tagline">
			<i class="fa fa-meh-o"></i> Tw!tter
		</div>
	</header>
	
	<section>
		<%= yield %>
	</section>
	
	<div class="col-xs-12" style="height:50px"></div>

</body>
</html>
